#python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY='SUPER_SECRET_KEY_FROM_DJANGO''
#Ejemplo de como crear una BBDD en docker usando postgress
#docker run -d --name db-ejemplo \
# -e POSTGRES_USER=userEjemplo \
# -e POSTGRES_PASSWORD='passEjemplo' \
# -e POSTGRES_DB=management_ejemplo \
# -p 5454:5432 \
# postgres
#Ejemplo
#DATABASE_URL=postgres://userEjemplo:passEjemplo@localhost:5454/management_ejemplo
DATABASE_URL='CONNECTION_TO_BBDD'